.main {
  &__eight-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 88px;
    padding-block-end: 140px;

    @media screen and (max-width: 970px) {
      gap: 30px;
    }

    @media screen and (max-width: 860px) {
      display: flex;
      flex-direction: column;
    }
  }
}
