@use "../globals/" as globals;

.main-wishlist {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 135px 140px;

  @media screen and (max-width: 1360px) {
    padding-inline: 30px;
  }

  &__display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media screen and (max-width: 1230px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 950px) {
      grid-template-columns: 1fr;
    }
  }
}
