@use "../utils" as utils;
@use "./colours" as colours;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: utils.$web-font;
  max-width: 1900px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: colours.$web-black;
}

li {
  list-style-type: none;
}

button {
  font-family: utils.$web-font;
}

input {
  font-family: utils.$web-font;
}

.errors {
  color: red;
}

.success {
  color: green;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
