$web-light-gray: #FAFAFA;
$web-white: #ffffff;
$web-black: #000000;
$web-secondary: #F5F5F5;
$web-reddish-brown: #DB4444;
$web-lighter-reddish-brown: #E07575;
$web-green: #00FF66;
$web-border-colour: #B3B3B3; 
$web-gray: #808080; 
